.create-community {
  padding-top: 50px;
  padding-bottom: 50px;
  .mobile({
    padding-top: 25px;
    padding-bottom: 25px;
  });
}

.create-community, #community-invite-form {
  textarea {
    width: 100%;
    height: 160px;
    border: none;
    resize: none;
    background-color: @faint-gray-bg;
  }

  .active {
    textarea {
      background-color: white;
    }
  }

  .toggle-section {
    padding: 15px 0px 15px 30px;
    a {
      color: @damian-green;
      &:hover {
        text-decoration: none;
      }
    }
    font-size: 12px;
    .icon {
      margin-left: 5px;
      font-size: 13px;
      position: relative;
      top: 2px;
    }
  }
}

#new-community-form {
  .small-logo {
    .image-div(40px);
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .button.upload {
    .round-button;
    padding: 0 20px;
    background-color: white;
    border-color: @damian-green;
    color: @damian-green;
  }
}

#community-invite-form {
  .community-invite-form-header {
    font-size: 20px;
    font-weight: 500;
    padding-left: @modal-row-side-padding;
    padding-right: @modal-row-side-padding;
    border-top: 1px solid @post-border;
    padding-top: 5px;
  }

  input[type="file"] {
    display: none
  }

  .csv-upload {
    background-color: white;
    border-top: none;
    .help-text {
      .meta;
      width: 80%;
    }

    label.custom-file-upload {
      .round-button;
      line-height: 40px;
      display: inline;
      position: relative;
      cursor: pointer;
      float: right;
      padding: 0 20px;
      background-color: white;
      border: 1px solid @post-border;
      color: @damian-green;
      margin-left: 10px;
    }
  }

  .emails {
    .prefix {
      display: inline-block;
      position: relative;
      top: 20px;
    }
    textarea {
      padding-left: 30px !important;
      height: 40px;
    }
  }

  .moderator {
    margin-bottom: 10px;
    input {
      display: inline-block;
      vertical-align: middle;
      .mobile({
        float: left;
        display: block;
      });
    }
    .meta{
      .meta-text;
      margin-left: 10px;
      display: inline-block;
      .mobile({
        margin-left: 42px;
        display: block;
        min-height: 32px;
      });
    }
  }
}

.person-table {

  .summary {
    margin-top: 25px;
    border-top: 1px solid @post-border;
    text-align: right;
  }

  .avatar {
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
  }

  tr {
    border-top: 1px solid @post-border;
  }

  table {
    width: 100%;
  }

  td {
    color: @gray-text;
    font-weight: 300;
  }

  th, td {
    padding: 15px 10px;

    &:first-child {
      padding-left: @modal-row-side-padding;
    }

    &:last-child {
      text-align: right;
      padding-right: @modal-row-side-padding;
    }
  }

  td.unused {
    color: transparent;
  }

  .mobile({
    thead {
      display: none;
    }
    td {
      display: block;
      padding-left: @modal-row-side-padding;
      &.unused {
        color: black;
      }
      &:last-child {
        text-align: left;
      }
    }
  });

  .table-button {
    font-weight: 300;
    color: @faint-gray-text;
  }
}

#community-checklist {
  .footer {
    border-top: 0;
  }
}

#community-invite-settings {
  background-color: white;
  .modal-input {
    .modal-input-row;
  }

  .invitation-link-section {
    padding-top: 25px;
    background-color: white;
    .icon {
      display: block;
      float: left;
      margin-right: 10px;
      color: white;
      background-color: @damian-green;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      font-size: 20px;
      padding-left: 6px;
      padding-top: 6px;
    }

    a.invitation-link {
      color: @damian-green;
      display: inline-block;
      max-width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .copy-link-wrapper {
      float: right;
      .copy-link {
        .round-button;
        color: @damian-green;
        border: 1px solid @post-border;
      }
      .copied {
        color: @damian-red;
      }
    }
  }

  .csv-upload {
    background-color: white;
    .custom-file-upload {
      font-size: inherit;
      letter-spacing: inherit;
      font-weight: inherit;
      text-transform: none;
    }
  }

  .footer {
    .modal-input-row;
    background-color: white;
    button, a.button {
      .round-button;
      padding: 0 20px;

      &.ok {
        .green-button;
      }
    }
  }

  .invitations {
    padding-top: 25px;
    border-top: 1px solid @post-border;
    .invitations-header {
      padding-left: @modal-row-side-padding;
      padding-right: @modal-row-side-padding;
      label {
        font-size: 20px;
        font-weight: 500;
      }
      .count {
        .meta-text;
      }
      .resend-all {
        .round-button;
        color: @damian-green;
        border: 1px solid @post-border;
        margin-bottom: 10px;
      }

    }
  }

  .join-requests {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid @post-border;
    .join-requests-header {
      padding-left: @modal-row-side-padding;
      padding-right: @modal-row-side-padding;
      label {
        font-size: 20px;
        font-weight: 500;
        .count {
          margin-left: 10px;
          position: relative;
          top: -2px;
          color: @faint-gray-text;
          font-weight: 400;
        }
      }
      .approve-all {
        .round-button;
        color: @damian-green;
        border: 1px solid @post-border;
        margin-bottom: 10px;
      }
    }
  }
}
