@card-bottom-margin: 9px;
@p-bottom-margin: 10px;
@avatar-size-small: 25px;
@avatar-size-default: 36px;
@avatar-size-medium: 60px;
@avatar-size-large: 80px;

// shades of gray
@off-black: #111;
@dark-gray-bg: #555;
@gray-text: #888;
@mid-gray-bg: #aaa;
@faint-gray-text: #c5c5c5;
@light-gray-border: #ccc;
@drop-shadow-gray: #c9c9c9;
@post-border: #ddd;
@page-bg: #ecebeb;
@faint-gray-border: #eee;
@faint-gray-bg: #f6f6f6;
@off-white: #fffdfb;

// other colors
@damian-green: #22bf99;
@damian-orange: #ee8946;
@damian-red: #e94f56;

// colors that match bootstrap or browser defaults
@error-color: @brand-danger;
@placeholder-color: #a9a9a9;
@input-border: #c3c3c3;

// bootstrap overrides
@brand-primary: @dark-gray-bg;
