// @import '../node_modules/bootstrap/less/bootstrap';
@import 'bootstrap-lite';
@import 'globals';
@import 'type';
@import 'icons';
@import 'mixins';
@import 'dropdown';
@import 'forms';
@import 'tinymce';
@import 'nav';

body {
  background-color: @page-background;
  color: @off-black;
  .base-text;
}

p {
  margin-bottom: @p-bottom-margin;
}

a {
  cursor: pointer;
}

button, a.button, input[type=submit] {
  .btn;
  .btn-default;

  .icon-add-01 {
    position: relative;
    top: 2px;
    left: -1px;
    margin-right: 2px;
  }
}

.login-signup {
  label {
    margin-right: 5px;
  }

  .service-buttons {
    margin-bottom: 15px;
    .clearfix;
  }

  .service-buttons a {
    width: 31.33%;
    background-size: 28px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: @off-white;
    box-sizing: border-box;
    padding-left: 20px;
    height: 36px;
    line-height: 36px;
    border-radius: @border-radius-base;
    vertical-align: middle;
    display: block;
    float: left;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

    &.google {
      background-color: #5b5b5b;
      background-image: url(/img/google.png);
      background-size: 22px;
      background-position: 12px center;
      &:active {
        background-color: darken(#5b5b5b, 15%);
      }
      .mobile({
        background-position-x: 5px;
      });
    }

    &.facebook {
      background-color: #464b9a;
      background-image: url(/img/facebook.png);
      margin: 0 3%;
      &:active {
        background-color: darken(#464b9a, 15%);
      }
      .mobile({
        background-position-x: left;
      });
    }

    &.linkedin {
      background-color: #4272b6;
      background-image: url(/img/linkedin.png);
      background-position: 10px 2px;
      &:active {
        background-color: darken(#4272b6, 15%);
      }
      .mobile({
        background-position-x: left;
      });
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.align-right {
  text-align: right;
}

.buttons {
  button, a {
    margin-right: 5px;
  }
  .right {
    button, a {
      margin-right: 0;
      margin-left: 5px;
    }
  }
}

ul.tabs {
  .no-bullets;
  li {
    display: inline-block;
    margin: 0 5px;

    .mobile({
      margin: 0;
    });

    a {
      text-decoration: none;
      display: block;
      padding: 0 5px 20px;
      .post-type-text;

      &.active {
        .has-bottom-triangle;
      }
    }
  }
}

.cover-image-container {
  position: relative;
  padding-top: 140px;
  z-index: 0;
}

#cover-image {
  width: 100%;
  .shaded-background;
  .fluid-height(28.8%);
  // height: 24vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
}

#cover-image-page-content, .simple-page {
  max-width: 688px;
  margin: 0 auto;
  position: relative;
}

#cover-image-page-content {
  .form-sections {
    .section-label {
      background-color: @list-controls-background;
      padding: 15px;
    }
    .section {
      background-color: @card-background;
      padding: 15px;
      margin-bottom: 15px;
    }
  }
}

.simple-page {
  margin-top: 15px;
  .list-controls {
    background-color: transparent;
  }
  ul.tabs a.active:after {
    background-color: @page-background !important;
  }

  .mobile({
    margin-left: 15px;
    margin-right: 15px;
  })
}

.banner {
  padding: 45px 15px 15px;
  position: relative;
  width: 100%;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  .shaded-background;
  .mobile-full-bleed;

  .mobile({
    padding-left: 5px;
    padding-right: 5px;
  });

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .corner {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    a {
      .outlined-text(rgba(0, 0, 0, 0.7));
      color: @off-white;
      &.active {
        font-weight: bold;
      }
    }
  }

  .logo {
    display: inline-block;
    width: @avatar-size-large;
    height: @avatar-size-large;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    &.person {
      border: 1px solid #fff;
      border-radius: @avatar-size-large;
    }
  }

  h2 {
    width: 100%;
    text-align: center;
    .outlined-text(rgba(0, 0, 0, 0.7));
    margin-bottom: 20px;
  }

  .tabs {
    a {
      .outlined-text(rgba(0, 0, 0, 0.7));
      color: @off-white;
      margin-bottom: -15px;
    }
  }
}

.avatar {
  .round-image-div(@avatar-size-default);
  display: block;
}

.medium-logo {
  .image-div(@avatar-size-medium);
}

.medium-avatar {
  .round-image-div(@avatar-size-medium);
}

.large-avatar {
  .round-image-div(@avatar-size-large);
}

ul.posts {
  .no-bullets;

  .post {
    .mobile-full-bleed;
    .mobile({
      border-left: none;
      border-right: none;
      border-bottom: none;
      margin-bottom: 0;

      &.welcome {
        border-top: 1px solid @light-gray-border;
      }
    })
  }
}

@post-content-left-margin: 75px;
@post-content-right-margin: 25px;
@post-text-right-margin: 45px;

.shared-post-style() {
  .header {
    margin-bottom: 6px;
    margin-right: @post-content-right-margin;

    > .avatar {
      float: left;
      margin-left: 26px;
    }
    > div:last-child {
      margin-left: @post-content-left-margin;
    }
    .name {
      color: @damian-green;
      .semibold;
    }
    .meta > a, .meta > div > a {
      .meta-text;
    }
  }

  .title {
    .post-title-text;
    margin-bottom: @p-bottom-margin;
  }
}

.post {
  padding: 25px 0px 5px 0;
  margin-bottom: 15px;
  background-color: @card-background;
  .shared-post-style;

  .image {
    background-size: cover;
    background-position: center top;
    width: 200px;
    height: 122.6px;
    margin-top: @p-bottom-margin;

    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }

  .post-section {
    padding-left: @post-content-left-margin;
    padding-right: @post-content-right-margin;
  }

  .vote {
    cursor: pointer;

    i {
      color: @dark-blue;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }

    &:hover {
      text-decoration: none;
      i {
        color: #f8f;
      }
    }

    .icon-heart-new-selected {
      color: #f8f;
    }
  }

  p.title {
    padding-left: @post-content-left-margin;
  }

  .details {
    .body-text;
    padding-right: @post-text-right-margin;
    .hashtag {
      color: @damian-green;
    }
  }

  &.welcome {
    padding: 0 15px;
    &, &.expanded {
      border: 1px solid transparent;
    }
    > div > .avatar {
      float: left;
      margin-right: 10px;
    }
    .header {
      a.open-comments {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .tag {
      display: none;
    }
    .comments-section {
      .clearfix;
      margin-top: @p-bottom-margin;
    }

    .mobile({
      background: @faint-gray-bg;
      padding: 15px 15px @p-bottom-margin;
      margin-bottom: 0;
    })
  }

  .event-time {
    margin-bottom: 0;
    margin-top: @p-bottom-margin;
    i {
      position: relative;
      top: 2px;
    }
  }

  .post-location {
    margin-bottom: 0;
    margin-top: @p-bottom-margin;
    i {
      position: relative;
      top: 2px;
    }
  }

  .post-menu {
    i {
      font-size: 20px;
      color: @gray-text;
    }

    float: right;
    .meta-text;
    cursor: pointer;
    > a:hover {
      text-decoration: none;
      color: @off-black;
    }
  }

  .share-post {
    display: inline;
  }

  &.expanded {
    .event-time {
      margin-top: 0;
      margin-bottom: @p-bottom-margin;
    }

    .post-location {
      margin-top: 0;
      margin-bottom: @p-bottom-margin;
    }

    .image {
      display: none;
    }

    .full-image {
      width: 100%;
    }

    .rsvp-controls {
      padding-top: @p-bottom-margin;
      padding-bottom: @p-bottom-margin;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      .buttons {
        margin-bottom: 10px;

        button {
          margin-right: 0px;

          &.rsvp-yes {
            width: 100px;
          }
          &.rsvp-maybe {
            width: 103px;
          }
          &.rsvp-no {
            width: 115px;
          }
        }
      }

      a.dropdown-toggle {
        color: @dark-blue;
      }

      .responses-dropdown {

        ul.dropdown-menu {
          padding-top: 0px;
          margin-top: 0px;
        }

        li {
          padding: 0px 15px;
        }

        li.header {
          padding: 5px 15px;
          border-top: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
        }

        span.header {
          font-size: 18px;
          text-align: center;
          margin-bottom: 0px;
          display: block;
          width: 100%;
        }

        a.person {
          margin-left: 6px;
          position: relative;
          top: 50%;
          transform: translateY(-60%);
          display: inline-block;
        }

        span.person {
          height: 100%;
        }

        .avatar {
          display: inline-block;
        }
      }
    }

    .post-section {
      margin-bottom: @p-bottom-margin;
      .title {
        padding-right: @post-text-right-margin;
      }
    }
  }

  .post-section.voting {
    @vote-button-width: 18px;
    @vote-button-margin: 5px;
    padding-left: @post-content-left-margin - @vote-button-width - @vote-button-margin;
    margin-top: 15px;
    margin-bottom: 25px;
    .voter {
      .proxima-nova-bold();
      color: #000;
    }
    .vote-button {
      color: @damian-green !important;
      text-decoration: none;
      width: @vote-button-width;
      i {
        margin-right: @vote-button-margin;
        top: 2px;
        position: relative;
      }
    }
    .voters {
      margin-left: 15px;
    }
  }

  .post-section.comments-section {
    padding-left: 0px;
    border-top: 1px solid @post-border;
    margin-bottom: 5px !important;

    .comment {
      padding-left: @post-content-left-margin;
      padding-right: @post-content-right-margin + @post-text-right-margin;
      margin-bottom: 5px;
      padding-top: 15px;
      .has-left-side-avatar;

      .name {
        margin-right: 10px;
      }

      .text {
        color: @gray-text;
        .body-text;
        p {
          margin-right: 5px;
          &:first-child {
            display: inline;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .thanks {
        color: @damian-green;
      }

      .date {
        color: @mid-gray-bg;
      }

      .meta a {
        .meta-text;
      }

      .show-more {
        .meta-text;
      }
    }

    .comment-form {
      padding-left: @post-content-left-margin;
      .has-left-side-avatar;
      margin-top: 15px;
      margin-bottom: 0;
      .clearfix;

      border-top: 1px solid #e8e8e8;
      padding-top: 10px;

      .rich-text-editor {
        iframe {
          height: 12vh;
        }
        margin-bottom: @p-bottom-margin;
      }

      input[type='text'] {
        border: none;
        width: 75%;
        margin-top: 8px;
        margin-left: 15px;
        &:focus {
          outline-width: 0;
        }
        &::-webkit-input-placeholder {
          font-style: italic;
        }
        &:-moz-placeholder {
          font-style: italic;
        }
        &::-moz-placeholder {
          font-style: italic;
        }
        &:-ms-input-placeholder {
          font-style: italic;
        }
      }

      input[type='submit'] {
        float: right;
        .btn-primary;
      }
    }

    &.empty {
      .comment-form {
        margin-top: 0px;
        border: none;
      }
    }

    .show-all {
      margin-top: 20px;
      margin-left: 51px;
    }
  }

  .attachment {
    display: inline-block;
    background-color: @light-gray-bg;
    border: 1px solid @light-gray-border;
    border-radius: @border-radius-base;
    padding: 5px 8px;
    margin-right: 5px;
    text-decoration: none;
    vertical-align: middle;

    img {
      margin-right: 5px;
      position: relative;
      top: -1px;
    }

    &:hover {
      background-color: @mid-gray-bg;
    }
  }
}

.event-time {
  i {
    margin-right: 5px;
  }
}

.post-location {
  i {
    margin-right: 5px;
  }
}

.meta {
  .meta-text;
}

ul.tags {
  .no-bullets;
  margin-bottom: -5px;
}

.tag {
  display: inline-block;
  color: @off-black;
  background-color: @light-gray-bg-2;
  border: 1px solid transparent;
  height: 26px;
  line-height: 24px;
  border-radius: 4px;
  padding: 0 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  font-size: 13px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &, &:hover, &.active {
    text-decoration: none;
  }
  &:hover, &.selected {
    border-color: @off-black;
  }
  &.post-type {
    .post-type-text;
    background-color: @mid-gray-bg;
    color: @off-white;
  }
  &.request {
    background-color: @hylo-orange;
  }
  &.offer {
    background-color: @hylo-green;
  }
  &.intention {
    background-color: @hylo-teal;
  }
  &.clickable {
    cursor: pointer;
  }

  .icon {
    height: 16px;
    width: 16px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
  }

  .remove {
    margin-left: 5px;
    color: @gray-text;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    line-height: 20px;
    font-size: 15px;
    &:hover {
      color: @off-black;
    }
  }
}

.post-editor {
  @content-right-margin: 15px;
  padding: 22px 0 15px 0;
  background-color: #fff;
  margin-bottom: 15px;
  .mobile-full-bleed;
  .shared-post-style;
  position: relative;

  .prompt {
    .post-title-text;
    color: #a9a9a9; // placeholder color
    margin-left: @post-content-left-margin;
  }

  .title-wrapper {
    margin-left: @post-content-left-margin;
    margin-right: @content-right-margin;
  }

  .title {
    display: block;
    width: 100%;
    border: none;
    padding: 0;
    outline: none;
    min-height: 31px;
    overflow-x: hidden;
  }

  .details {
    padding-left: @post-content-left-margin;
    padding-right: @content-right-margin;
    margin-bottom: 0;
    min-height: 30px;

    &.empty {
      display: none;

      &:focus {
        display: block;
      }
    }
  }

  .input-row {
    margin-top: 10px;
    p {
      margin-bottom: 5px;
    }
  }

  input.location {
    margin-bottom: -5px;
  }

  label {
    font-weight: normal;
    > span {
      vertical-align: middle;
    }
  }

  .hashtag-selector {
    margin-left: @post-content-left-margin;
    margin-bottom: @p-bottom-margin;
    .meta-text;
    .dropdown {
      display: inline-block;
    }
    button {
      height: 22px;
      width: 22px;
      border-radius: 22px;
      text-align: center;
      padding: 0;
      color: @gray-text;
    }
  }

  .communities {
    padding-top: 5px;
    padding-left: @post-content-left-margin;
    border-top: 2px dotted #e5e5e5;

    .meta-text;

    > span {
      position: absolute;
      padding-top: 3px;
    }

    .tag-input {
      border: 0;
      box-shadow: none;
      padding-top: 0;
      padding-left: 0;
      margin-left: 14px;
      width: auto;

      input[type="text"] {
        padding-left: 0;
        height: 23px;
      }
    }

    .tag {
      background-color: transparent;
      padding: 0;
      border: 0;
      margin-right: 10px;
      margin-bottom: 0;
      &:hover {
        border: 0;
      }
      .icon {
        display: none;
      }
      span {
        color: @damian-green;
      }
      .remove {
        position: relative;
        top: 1px;
      }
    }
  }

  .buttons {
    padding-left: @post-content-left-margin;
    padding-top: 15px;
    border-top: 1px solid @post-border;
    line-height: 40px;
    > *, span {
      vertical-align: middle;
    }

    div {
      display: inline-block;
    }

    label {
      margin-bottom: 0;
      display: inline;
    }

    .right {
      margin-right: 15px;
    }

    button {
      height: 40px;
      border-radius: 40px;
      line-height: 40px;
      text-align: center;
      padding: 0 32px;
    }

    .save {
      color: #fff;
      background-color: @damian-green;
      border-color: @damian-green;
      margin-right: 10px;
    }
  }

  .glyphicon-camera {
    color: #bababa;
    font-size: 18px;
    position: relative;
    top: -2px;
  }

  .attachments {
    margin-right: 10px;
    .dropdown-menu {
      max-width: 300px;
    }
    .image {
      position: relative;
      img {
        width: 100%;
      }
      .remove {
        background-color: white;
        height: 21px;
        width: 21px;
        line-height: 22px;
        right: -1px;
        top: 4px;
        border-radius: 22px;
      }
    }
    .doc a {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.image-attachment-button {
  padding-right: 35px !important;
  a {
    overflow: hidden;
  }
  img {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 28px;
    vertical-align: middle;
    border: 1px solid @light-gray-border;
    border-radius: @border-radius-base;
  }
}

.tag-input {
  .form-control;
  height: auto;
  padding-bottom: 1px;

  ul {
    .no-bullets;
    display: inline-block;
  }

  input[type=text] {
    border: 0;
    font-size: 13px;
    margin-bottom: 5px;
    height: 26px;
    vertical-align: top;
    &:focus {
      outline: none;
    }
  }

  .tag {
    margin-bottom: 5px;
  }
}

.rich-text-editor {
  padding: 0;
  height: auto;
  .mce-container {
    border: none;
    overflow: hidden;
  }
  > .dropdown {
    overflow: visible;
  }
}

.mentions .dropdown-menu {
  display: block;
}

.list-controls {
  line-height: 34px;
  text-align: right;
  background-color: @list-controls-background;
  padding: 15px;

  > * {
    vertical-align: middle;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  .search {
    width: auto;
    display: inline-block;
  }
}

.list-controls + .masonry-container {
  margin-top: 15px;
}

.markdown {
  &.description {
    padding-top: 15px;
  }
  img {
    max-width: 100%;
  }
}

.members {
  > ul {
    .no-bullets;
  }
}

.onboarding-questions {
  border: 1px solid @hylo-teal;
  border-radius: @border-radius-base;
  background-color: @card-background;
  margin-bottom: 15px;
  .header {
    background-color: @hylo-teal;
    padding: 15px;
    color: white;
    h3 {
      margin: 0;
    }
  }
  .content {
    padding: 15px;
  }

  .tag-input {
    margin-bottom: @p-bottom-margin;
  }
}

.community-card {
  .card;

  .banner {
    padding: 90px 20px 20px;
    margin-bottom: 0px;
    .mobile({
      margin-left: inherit;
      width: inherit;
    });
  }

  .middle-content {
    padding: 15px;
    position: relative;
    background-color: @faint-gray-bg;

    .logo {
      margin-top: -60px;
      display: inline-block;
      width: @avatar-size-large;
      height: @avatar-size-large;
      overflow: hidden;
      background-position: center;
      background-size: cover;
    }

    a:hover {
      text-decoration: none;
    }

    .name {
      .proxima-nova-semibold;
      font-size: 18px;
    }
  }
}

.community-cards .masonry-item-wrapper {
  width: 33.33%;
}

.person-cards {
  .make-row;
}

.person-cards .masonry-item-wrapper {
  width: 33.33%;
}

.person-card {
  .card;
  padding: 15px 0;
  text-align: center;
  position: relative;

  .large-avatar {
    display: inline-block;
    border: 1px solid @light-gray-border;
  }

  .name {
    .proxima-nova-semibold;
  }

  .moderator {
    .meta-text;
  }

  .details {
    text-align: left;
    padding: @p-bottom-margin 15px 0;
  }

  .caret-menu {
    display: none;
  }

  &:hover .caret-menu {
    display: block;
    position: absolute;
    top: 5px;
    right: 4px;
  }
}

#person {
  ul.tabs a.active:after {
    background-color: @page-background;
  }

  .about {
    padding: 15px;
    border: 1px solid @light-gray-border;
    section {
      margin-bottom: 30px;
      &:first-child {
        h4 {
          margin-top: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .social-media {
      .button {
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.masonry-container {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.masonry-item-wrapper {
  padding: 0 7.5px 15px;
  .mobile({
    width: 100% !important;
  });
  float: left;
}

.project-card-container {
  margin-top: 15px;
}

.project-card-container .masonry-item-wrapper {
  width: 50%;
}

.project-card {
  .card;
  margin: 0;

  .image {
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
    width: 100%;
    .fluid-height(61.8%);
    background-size: cover;
    background-position: center;
  }

  .content {
    padding: 15px 15px 10px;

    h4 {
      margin-top: 0;
    }

    .avatar {
      float: left;
      margin-right: 10px;
    }

    .name {
      .semibold;
    }
  }

  .image + .content {
    padding-top: 6px;
  }

  .footer {
    border-top: 1px solid @light-gray-border;
    text-align: center;
    padding: 8px 0;
  }
}

#community-settings {

  .welcome-message {
    .leader {
      float: left;
      margin: 0 15px 15px 0;
      text-align: center;
      width: 70px;
      .avatar {
        .large-avatar;
      }
      .name {
        .meta-text;
        margin-top: 5px;
      }
    }

    .buttons {
      text-align: right;
      margin-top: 10px;
      button {
        margin-right: 0px;
      }
    }
  }

  .moderator {
    .avatar {
      margin-right: 15px;
      display: inline-block;
    }
    .name {
      vertical-align: text-bottom;
      line-height: 43px;
    }
  }
}

#project {
  .draft-header {
    background-color: @hylo-teal;
    color: @off-white;
    padding: 15px;
    button {
      float: right;
      margin-left: 15px;
      .clear-button;
    }
  }

  .project-header {
    background-color: @faint-gray-bg;
    padding: 15px 0;
    .clearfix;

    .title-row {
      h2 {
        margin-top: 0;
      }
      border-bottom: 1px solid @light-gray-border;
      margin-bottom: 15px;
    }

    .meta {
      ul {
        .no-bullets;
      }

      li {
        min-height: @avatar-size-default;
        margin-bottom: 15px;
        img, .avatar, .icon {
          display: block;
          float: left;
          margin-right: 10px;
          width: @avatar-size-default;
          height: @avatar-size-default;
        }
        .icon {
          background-size: cover;
          background-position: center;
        }
        div {
          overflow: hidden;
          padding-top: 1px;
        }
      }
    }

    h4:first-child {
      margin-top: 0;
    }

    .video-wrapper {
      width: 100%;
      .fluid-height(61.2%);
      margin-bottom: @p-bottom-margin;
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .full-image {
      width: 100%;
      margin-bottom: @p-bottom-margin;
    }

    .expand {
      cursor: pointer;
    }

    .share-project {
      display: inline;
      margin-right: 5px;

      ul.dropdown-menu {
        top: 150%;
      }

    }
  }

  .tabs {
    text-align: center;
    border-bottom: 1px solid @light-gray-border;

    a.active {
      .has-bottom-triangle(@off-white, @light-gray-border);
    }

    h3 {
      margin-bottom: 5px;
    }

    p {
      text-transform: none;
      letter-spacing: normal;
      margin-bottom: 0;
    }
  }

  .tab-content {
    margin-top: 15px;

    .invite-cta {
      padding: 15px;
      border: 1px solid #ccc;
      background-color: #f6f6f6;
      margin-bottom: 15px;
      line-height: 32px;

      .button {
        float:right;
      }
    }
  }
}

#project-editor {
  .standard-form;

  .intro {
    font-style: italic;
    button {
      font-style: normal;
      margin-left: 5px;
    }
  }

  .video {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
  }
}

.project-invite {
  textarea {
    min-height: 10em;
  }
}

.activities {
  .activity {
    border-bottom: 1px solid @light-gray-border;
    padding: 15px;
    margin-bottom: 15px;

    &.unread {
      background-color: fadeout(@dark-blue, 85%);
    }

    .avatar {
      float: left;
      margin-right: 15px;
    }

    .content {
      .title {
        padding: 7px 0px 15px 0px;
      }

      .body-text {
        padding: 0px 15px 5px 15px;
      }

      overflow: hidden;
    }

    a {
      cursor: pointer;
    }
  }
}

#user-settings {
  .medium-avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .social-media {
    button, .button {
      vertical-align: top;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }

    input[type='text'] {
      display: inline-block;
      width: inherit;
    }
  }
}

.sent-invitations {
  table {
    width: 100%;
  }
  th, td {
    padding: 5px 7.5px;
  }
  tr.even td {
    background-color: @faint-gray-bg;
  }
  .avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .unused {
    height: @avatar-size-default;
  }

  .footer {
    margin-top: 15px;
  }
}

#notifier {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25vw;
  padding-left: 15px;
  .mobile({
    width: 100%;
    padding-right: 15px;
  });

  .close {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

#onboarding-start {
  .header {
    text-align: center;
    margin-bottom: 30px;
    > * {
      vertical-align: middle;
    }
    .operator {
      font-size: 4em;
      margin-right: 10px;
    }
    h2 {
      margin-bottom: 30px;
    }
  }
  .logo {
    display: inline-block;
    .image-div(120px);
    margin-right: 10px;

    &.hylo-logo {
      background-image: url(/img/logotype-teal-transparent.png);
      margin-right: 0;
    }
  }

  h4 {
    margin-bottom: 30px;
  }

  .leader-message {
    border: 1px solid @light-gray-border;
    border-radius: @border-radius-base;
    padding: 10px;
    margin-bottom: @p-bottom-margin;
    .clearfix;

    .leader {
      float: left;
      display: inline-block;
      text-align: center;
      padding-top: 3px;
      margin-right: 20px;
      .medium-avatar {
        display: block;
        margin: 0 auto 5px;
      }
    }
    .message {
      overflow: visible;
    }
  }
}

#search {
  .results > div {
    background-color: @card-background;
  }

  .message {
    padding: 15px;
    background-color: @card-background;
  }

  .person-result {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid @light-gray-border;
    .clearfix;

    .hello {
      float: left;
      text-align: center;
      margin-right: 15px;
      width: @avatar-size-medium + 30px;
    }

    .avatar {
      .medium-avatar;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 5px;
    }

    .content {
      overflow: hidden;
    }

    .tag-group {
      > strong {
        float: left;
        display: inline-block;
        width: 65px;
        padding-top: 3px;
      }
      ul.tags {
        overflow: hidden;
      }
    }

    .skills {
      margin-bottom: @p-bottom-margin;
    }
  }

  .comment-result {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid @light-gray-border;
    .text p:last-child {
      margin-bottom: 0;
    }
  }
}

.refresh-button {
  padding: 15px;
  background-color: @light-gray-bg;
  border: 1px solid @light-gray-border;
  width: 235px;
  z-index: 1;

  &.static {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
  }

  &.floating {
    position: fixed;
    left: 50%;
    margin-left: -10px;
    top: 0px;
  }
}

#single-post {
  // prevent Intercom button from overlapping comment button
  margin-bottom: 70px;
}

.comments-section {
  > a:first-child {
    margin-top: @p-bottom-margin;
    cursor: pointer;
  }
}

#about-community {
  background-color: @card-background;
  padding: 15px;
}
