@import '../node_modules/bootstrap/less/bootstrap';
@import 'globals';
@import 'type';
@import 'icons';
@import 'mixins';

body {
  background-color: @off-white;
  color: @off-black;
  .base-text;
}

p {
  margin-bottom: @p-bottom-margin;
}

button, input[type=submit] {
  .btn;
  .btn-default;
}

#app {
  .container-fluid;
}

nav {
  ul {
    .no-bullets;
  }

  a.active {
    font-weight: bold;
  }
}

#topNav {
  .make-md-column-offset(1);
  .make-md-column(10);
  border-bottom: 2px solid @hylo-teal;
  padding: 15px 15px 5px;
  line-height: 36px;
  li {
    display: inline-block;
    margin-right: 15px;
  }
  .right {
    li {
      margin-left: 15px;
      margin-right: 0;
    }
  }
  a {
    color: @off-black;
  }
  .icon-hylo-script {
    font-size: 36px;
    vertical-align: middle;
    position: relative;
    color: @hylo-teal;
    margin-right: 2px;
  }
}

#leftNav {
  .make-sm-column(3);
  .make-md-column(2);
  .make-md-column-offset(1);
  padding: 15px;
  height: 100%;
  font-size: 13px;
  a {
    padding: 3px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 24px;
    text-decoration: none;
    &:active {
      font-weight: bold;
    }
    img {
      height: 24px;
      width: 24px;
      margin-right: 5px;
      float: left;
    }
    &:hover {
      background-color: #ddd;
    }
  }
}

#main {
  .make-sm-column(9);
  .make-md-column(8);
  padding: 15px;

  h2:first-child {
    margin-top: 0;
  }
}

#login {
  .make-row;
  form {
    .make-sm-column(6);
  }
  label {
    margin-right: 5px;
  }

  .service-buttons {
    margin-bottom: 15px;
    .clearfix;
  }

  .service-buttons a {
    width: 31.33%;
    background-size: 28px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: @off-white;
    box-sizing: border-box;
    padding-left: 20px;
    height: 36px;
    line-height: 36px;
    border-radius: @border-radius-base;
    vertical-align: middle;
    display: block;
    float: left;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

    &.google {
      background-color: #5b5b5b;
      background-image: url(img/google.png);
      background-size: 22px;
      background-position: 12px center;
      &:active {
        background-color: darken(#5b5b5b, 15%);
      }
    }

    &.facebook {
      background-color: #464b9a;
      background-image: url(img/facebook.png);
      margin: 0 3%;
      &:active {
        background-color: darken(#464b9a, 15%);
      }
    }

    &.linkedin {
      background-color: #4272b6;
      background-image: url(img/linkedin.png);
      background-position: 10px 2px;
      &:active {
        background-color: darken(#4272b6, 15%);
      }
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.buttons {
  button, a {
    margin-right: 5px;
  }
  .right {
    button, a {
      margin-right: 0;
      margin-left: 5px;
    }
  }
}

.banner {
  padding: 45px 45px 15px;
  position: relative;
  width: 100%;
  color: white;
  margin-bottom: 15px;
  text-align: center;
  .shaded-background;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .logo {
    display: inline-block;
    width: @avatar-size-large;
    height: @avatar-size-large;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    &.person {
      border: 1px solid #fff;
      border-radius: @avatar-size-large;
    }
  }

  h2 {
    width: 100%;
    text-align: center;
    .proxima-nova-semibold;
    .outlined-text(rgba(0, 0, 0, 0.7));
    margin-bottom: 20px;
  }

  ul.tabs {
    .no-bullets;
    margin-bottom: -15px;
    li {
      display: inline-block;
      margin: 0 5px;
      a {
        .outlined-text(rgba(0, 0, 0, 0.7));
        display: block;
        color: @off-white;
        padding: 0 5px 20px;
        .post-type-text;

        &.active {
          .has-bottom-triangle;
        }
      }
    }
  }
}

.avatar {
  width: @avatar-size-default;
  height: @avatar-size-default;
  border-radius: @avatar-size-default;
  background-position: center;
  background-size: cover;
  display: block;
}

.large-avatar {
  width: @avatar-size-large;
  height: @avatar-size-large;
  border-radius: @avatar-size-large;
  background-position: center;
  background-size: cover;
}

ul.posts {
  .no-bullets;
}

.post {
  border: 1px solid @light-gray-border;
  padding: 15px;
  margin-bottom: 15px;

  .header {
    .avatar {
      float: left;
      margin-right: 10px;
    }
    margin-bottom: 15px;
  }

  .image {
    background-size: cover;
    background-position: center top;
    width: 200px;
    height: 122.6px;
    margin-top: @p-bottom-margin;
  }

  .name {
    .semibold;
  }

  p.title {
    .post-title-text;
    margin-bottom: 0;
  }

  .details {
    .body-text;
  }

  &.welcome {
    border: 1px solid transparent;
    min-height: @avatar-size-default + 21px;
    p.title {
      margin-top: 8px;
    }
    .tag {
      display: none;
    }
  }

  .event-time {
    margin-bottom: 0;
    margin-top: @p-bottom-margin;
    i {
      position: relative;
      top: 2px;
    }
  }

  .post-location {
    margin-bottom: 0;
    margin-top: @p-bottom-margin;
    i {
      position: relative;
      top: 2px;
    }
  }

  .post-menu {
    float: right;
    .meta-text;
    cursor: pointer;
    > a:hover {
      text-decoration: none;
      color: @off-black;
    }
  }

  &.expanded {
    border: 1px solid @dark-gray-border;
    p.title {
      margin-bottom: @p-bottom-margin;
    }

    .event-time {
      margin-top: 0;
      margin-bottom: @p-bottom-margin;
    }

    .post-location {
      margin-top: 0;
      margin-bottom: @p-bottom-margin;
    }

    .image {
      display: none;
    }

    .full-image {
      width: 100%;
    }

    .post-section {
      margin-bottom: @p-bottom-margin;
    }
  }

  .attachment {
    display: inline-block;
    background-color: @light-gray-bg;
    border: 1px solid @light-gray-border;
    border-radius: @border-radius-base;
    padding: 5px 8px;
    margin-right: 5px;
    text-decoration: none;
    vertical-align: middle;

    img {
      margin-right: 5px;
      position: relative;
      top: -1px;
    }

    &:hover {
      background-color: @mid-gray-bg;
    }
  }
}

.event-time {
  i {
    margin-right: 5px;
  }
}

.post-location {
  i {
    margin-right: 5px;
  }
}

.meta {
  .meta-text;
}

ul.tags {
  .no-bullets;
  margin-bottom: -5px;
}

.tag {
  display: inline-block;
  color: @off-black;
  background-color: #ccc;
  border: 1px solid transparent;
  height: 26px;
  line-height: 24px;
  border-radius: 4px;
  padding: 0 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  font-size: 13px;

  &, &:hover, &.active {
    text-decoration: none;
  }
  &:hover, &.selected {
    border-color: @off-black;
  }
  &.post-type {
    .post-type-text;
    background-color: @mid-gray-bg;
    color: @off-white;
  }
  &.request {
    background-color: @hylo-orange;
  }
  &.offer {
    background-color: @hylo-green;
  }
  &.intention {
    background-color: @hylo-teal;
  }

  .icon {
    height: 16px;
    width: 16px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
  }

  .remove {
    margin-left: 5px;
    color: @gray-text;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    line-height: 20px;
    font-size: 15px;
    &:hover {
      color: @off-black;
    }
  }
}

.comment {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  .has-left-side-avatar;

  .text {
    .body-text;
  }
}

.comment-form {
  margin-top: 15px;
  margin-bottom: 0;
  .clearfix;

  .rich-text-editor {
    iframe {
      height: 12vh;
    }
    margin-bottom: @p-bottom-margin;
  }

  input[type='text'] {
    .form-control;
    width: 61.8%;
    display: inline-block;
  }

  input[type='submit'] {
    float: right;
    .btn-primary;
  }
}

.post-editor {
  padding: 15px;
  background-color: @light-gray-bg;
  margin-bottom: 15px;

  .post-types {
    .no-bullets;
    margin-bottom: @p-bottom-margin;
    li {
      .tag;
      .post-type-text;
      cursor: pointer;
    }
  }

  .details {
    iframe {
      height: 22vh !important;
    }
  }

  .input-row {
    margin-top: 10px;
    p {
      margin-bottom: 5px;
    }
  }

  &.expanded input.title, input.location, .tag-list, .visibility {
    margin-bottom: @p-bottom-margin;
  }

  label {
    font-weight: normal;
  }

  > h3:first-child {
    margin-top: 0;
  }

  h3.communities-header {
    margin-top: 5px;
  }

  .dropdown.button {
    .btn;
    .btn-default;
    height: 34px;
    line-height: 32px;
    padding: 0 9px 0 12px;
    margin-right: 5px;
    > a {
      text-decoration: none;
    }
  }

  .change-image {
    padding-right: 35px !important;
    a {
      overflow: hidden;
    }
    img {
      position: absolute;
      top: 2px;
      right: 2px;
      height: 28px;
      vertical-align: middle;
      border: 1px solid @light-gray-border;
      border-radius: @border-radius-base;
    }
  }
}

.tag-input {
  .form-control;
  height: auto;
  margin-bottom: @p-bottom-margin;
  padding-bottom: 1px;

  ul {
    .no-bullets;
    display: inline-block;
  }

  input[type=text] {
    border: 0;
    font-size: 13px;
    margin-bottom: 5px;
    height: 26px;
    vertical-align: top;
    &:focus {
      outline: none;
    }
  }

  .tag {
    margin-bottom: 5px;
  }
}

.rich-text-editor {
  .form-control;
  padding: 0;
  height: auto;
  > .mce-container {
    border: none;
    border-radius: @border-radius-base;
    overflow: hidden;
  }
  > .dropdown {
    overflow: visible;
  }
}

.dropdown-menu > li {
  position: relative;

  > a {
    cursor: pointer;

    &.remove {
      float: right;
      position: absolute;
      top: 1px;
      right: -4px;
      font-size: 18px;
      padding: 0 4px;
      line-height: 26px;
      height: 26px;
      width: 19px;
      &:hover {
        font-weight: bold;
        color: red;
        background-color: transparent;
      }
    }

    img {
      margin-right: 5px;
      position: relative;
      top: -2px;
    }
  }
}

.mentions .dropdown-menu {
  display: block;
}

.dropdown.active .dropdown-menu {
  display: block;
}

.post-list-controls {
  line-height: 34px;
  margin-bottom: 15px;
  text-align: right;

  > * {
    vertical-align: middle;
  }
  .search {
    width: 30%;
    display: inline-block;
    margin-right: 5px;
  }
  .dropdown.type {
    margin-right: 5px;
  }
}

#tinymce {
  padding: 6px 12px; // same as .form-control
  .body-text;
}

#community {
  .markdown {
    img {
      max-width: 100%;
    }
  }

  .members {
    > ul {
      .no-bullets;
    }

    .search {
      margin-bottom: 15px;
    }
  }

  .member-cards {
    .make-row;
  }

  .member {
    .make-xs-column(6);
    .make-sm-column(3);
  }

  .member-card {
    border: 1px solid @light-gray-border;
    padding: 15px 0;
    margin-bottom: 15px;
    text-align: center;
    height: 142px;

    .large-avatar {
      display: inline-block;
      border: 1px solid @light-gray-border;
    }
  }
}

#person {
  .about {
    padding: 15px;
    border: 1px solid @light-gray-border;
    section {
      margin-bottom: 30px;
      &:first-child {
        h4 {
          margin-top: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
