@main-column-width: 688px;
@refresh-button-height: 36px;
@refresh-button-width: 130px;
@mobile-side-margin: 15px;

#app {
  overflow-x: hidden;
  min-height: 100vh;
}

#main {
  padding-top: @top-nav-height;
  .mobile({
    width: 100vw;
    padding-top: @mobile-top-nav-height;
  });
}

.leftNavIsOpen #main {
  margin-left: @left-nav-width;
}

.cover-image-container {
  position: relative;
  padding-top: 140px;
  z-index: 0;
  .mobile({
    padding-top: 0;

    .post-editor-wrapper {
      display: none;
    }
  });
}

#cover-image {
  background-color: rgba(0, 0, 0, 0.6);
  .non-mobile({
    height: 308px;
  });

  .mobile({
    .fluid-height(28.8%);
  });

  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .mobile({
    display: none;
  });
}

.mobile-search {
  height: 40px;
  margin-left: 15px;
  &.hidden {
    display: none;
  }
  .icon {
    position: relative;
    top: 5px;
    font-size: 25px;
    color: @gray-text;
  }
  input {
    padding-left: 23px;
    width: 90%;
    height: 100%;
    border: none;
    background-color: @page-bg;
    &:focus {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

#cover-image-page-content, .simple-page {
  max-width: @main-column-width;
  margin: 0 auto;
  position: relative;
}

#cover-image-page-content {
  .form-sections {
    .section-label {
      background-color: @faint-gray-bg;
      padding: 15px;
    }
    .section {
      background-color: white;
      padding: 15px;
      margin-bottom: 15px;
    }
  }
}

.loading, .no-results {
  background-color: white;
  padding: 15px;
}

.paginating {
  margin-top: -60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.simple-page {
  margin-top: 15px;
  .list-controls {
    background-color: transparent;
  }

  ul.tabs a.active:after {
    background-color: @page-bg !important;
  }

  .mobile({
    margin-left: 15px;
    margin-right: 15px;
  });

  &.form-sections {
    .section-label {
      margin-top: 15px;
    }
  }
}

.refresh-button-container {
  position: absolute;
  top: 127px;
  left: 50%;
  margin-left: -@refresh-button-width/2;

  .mobile({
    top: 57px;
  })
}

.refresh-button {
  line-height: @refresh-button-height;
  border-radius: @refresh-button-height;
  background-color: @damian-red;
  color: white;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  width: @refresh-button-width;

  &.static {
    margin: 0 auto;
    position: absolute;
  }

  &.floating {
    position: fixed;
    left: 50%;
    margin-left: -@refresh-button-width/2;
    top: @top-nav-height + 10;
    margin-top: 5px;

    .mobile({
      top: @mobile-top-nav-height + 10;
    })
  }

  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: @damian-red;
    border-width: 7px;
    margin-left: -7px;
  }
}

.leftNavIsOpen .refresh-button.floating {
  margin-left: -(@refresh-button-width - @left-nav-width)/2;
}

.intercom-launcher-frame {
  .mobile({
    transform: scale(0.7) translateX(20px) translateY(20px) !important;
    opacity: 0.7;
  });
}

#mobile-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @mobile-top-nav-height;
  line-height: @mobile-top-nav-height;
  background-color: white;
  border-bottom: 1px solid @post-border;
  z-index: 11;
  padding: 0 @mobile-side-margin;

  .title {
    width: 100%;
    text-align: center;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    color: @gray-text;
  }

  a {
    text-decoration: none;
    .regular;
  }

  .left-angle-bracket {
    margin-left: -7px;
    margin-right: 3px;
  }

  .right {
    float: right;
  }
}

.login-signup {
  padding-top: 50px;
  padding-bottom: 50px;
  .mobile({
    padding-top: 25px;
    padding-bottom: 25px;
  });

  .oauth {
    .modal-row;
    > * {
      display: inline-block !important;
      vertical-align: baseline;
    }

    label {
      margin-right: 12px;
    }
  }

  h4 {
    padding-left: 25px;
  }

  .service-buttons a {
    width: 120px;
    background-size: 28px;
    background-position: 10px center;
    background-repeat: no-repeat;
    color: @off-white;
    box-sizing: border-box;
    padding-left: 20px;
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    .mobile({
      margin-bottom: 10px;
    });

    &.google {
      background-color: #5b5b5b;
      background-image: url(/img/google.png);
      background-size: 22px;
      background-position: 12px center;
      &:active {
        background-color: darken(#5b5b5b, 15%);
      }
      .mobile({
        background-position-x: 9px;
      });
    }

    &.facebook {
      background-color: #464b9a;
      background-image: url(/img/facebook.png);
      margin-left: 10px;
      margin-right: 10px;
      &:active {
        background-color: darken(#464b9a, 15%);
      }
      .mobile({
        background-position-x: 4px;
      });
    }

    &.linkedin {
      background-color: #4272b6;
      background-image: url(/img/linkedin.png);
      background-position: 10px 2px;
      &:active {
        background-color: darken(#4272b6, 15%);
      }
      .mobile({
        background-position-x: 6px;
      });
    }
  }

  .footer {
    input[type='submit'], a.button {
      .round-button;
      .green-button;
    }
  }
}

#login {
  .footer .right {
    .mobile({
      float: none;
      text-align: right;
      padding-left: 32px;
      line-height: inherit;
      margin-top: 15px;
    });
  }
}
