@main-column-width: 688px;
@refresh-button-height: 36px;
@refresh-button-width: 130px;
@mobile-side-margin: 15px;

#app {
  overflow-x: hidden;
  min-height: 100vh;

  > .showModal {
    overflow-y: hidden;
    height: 100vh;
  }
}

#main {
  padding-top: @top-nav-height;
  .mobile({
    width: 100vw;
    padding-top: @mobile-top-nav-height;
  });
}

.cover-image-container {
  position: relative;
  padding-top: 140px;
  z-index: 0;
  .mobile({
    padding-top: 0;

    .post-editor-wrapper {
      display: none;
    }
  });
}

#cover-image {
  background-color: rgba(0, 0, 0, 0.6);
  .non-mobile({
    height: 308px;
  });

  .mobile({
    .fluid-height(28.8%);
  });

  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .mobile({
    display: none;
  });
}

.mobile-search {
  height: 40px;
  margin-left: 15px;
  &.hidden {
    display: none;
  }
  .icon {
    position: relative;
    top: 5px;
    font-size: 25px;
    color: @gray-text;
  }
  input {
    padding-left: 23px;
    width: 90%;
    height: 100%;
    border: none;
    background-color: @page-bg;
    &:focus {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

#cover-image-page-content, .simple-page {
  max-width: @main-column-width;
  margin: 0 auto;
  position: relative;
}

#cover-image-page-content {
  .form-sections {
    .section-label {
      background-color: @faint-gray-bg;
      padding: 15px;
    }
    .section {
      background-color: white;
      padding: 15px;
      margin-bottom: 15px;
    }
  }
}

.loading, .no-results {
  background-color: white;
  padding: 15px;
}

.paginating {
  margin-top: -60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.simple-page {
  margin-top: 15px;
  .list-controls {
    background-color: transparent;
  }

  ul.tabs a.active:after {
    background-color: @page-bg !important;
  }

  .mobile({
    margin-left: 15px;
    margin-right: 15px;
  });

  &.form-sections {
    .section-label {
      margin-top: 15px;
    }
  }
}

.refresh-button-container {
  position: absolute;
  top: 127px;
  left: 50%;
  margin-left: -@refresh-button-width/2;

  .mobile({
    top: 57px;
  })
}

.refresh-button {
  line-height: @refresh-button-height;
  border-radius: @refresh-button-height;
  background-color: @damian-red;
  color: white;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  width: @refresh-button-width;

  &.static {
    margin: 0 auto;
    position: absolute;
  }

  &.floating {
    position: fixed;
    left: 50%;
    margin-left: -@refresh-button-width/2;
    top: @top-nav-height + 10;
    margin-top: 5px;

    .mobile({
      top: @mobile-top-nav-height + 10;
    })
  }

  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: @damian-red;
    border-width: 7px;
    margin-left: -7px;
  }
}

.leftNavIsOpen .refresh-button.floating {
  margin-left: -(@refresh-button-width - @left-nav-width)/2;
}

.footer-meta {
  margin-top: @p-bottom-margin;
}

#intercom-launcher {
  .mobile({
    transform: scale(0.8) translateX(20px) translateY(20px) !important;
    opacity: 0.8;
  });
}

#mobile-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @mobile-top-nav-height;
  line-height: @mobile-top-nav-height;
  background-color: white;
  border-bottom: 1px solid @post-border;
  z-index: 11;
  padding: 0 @mobile-side-margin;

  .title {
    width: 100%;
    text-align: center;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    color: @gray-text;
  }

  a {
    text-decoration: none;
    .regular;
  }

  .left-angle-bracket {
    margin-left: -7px;
    margin-right: 3px;
  }

  .right {
    float: right;
  }
}

#top-level-modal-wrapper {
  z-index: 50;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: scroll;

  .modal {
    position: absolute;
    top: 0;
    max-width: @main-column-width;
    margin: 10vh auto;
  }
}

.modal {
  z-index: 3;
  background-color: white;

  h2 {
    padding: 25px 25px 10px 25px;
    margin: 0;
  }

  .subtitle {
    padding: 0px 25px 20px 25px;
    margin: 0;
  }

  .close {
    float: right;
    text-decoration: none;
  }

  .footer {
    margin-top: -15px;
    padding: 25px;
    button, a.button {
      .round-button;
      padding: 0 20px;

      &.ok {
        color: white;
        background-color: @damian-green;
        border-color: @damian-green;
      }
    }
  }
}

.isMobile #top-level-modal-wrapper {
  .modal {
    margin: 0;
  }
}
