.no-bullets() {
  margin-bottom: 0;
  padding-left: 0;
  > li {
    list-style-type: none;
  }
}

.outlined-text(@color: #000) {
  text-shadow: -1px -1px 0 @color, 1px -1px 0 @color, -1px 1px 0 @color, 1px 1px 0 @color;
}

.body-text() {
  a {
    color: #00a;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid #00a;
    }
  }

  ul {
    margin-bottom: @p-bottom-margin;
  }
}

.shaded-background() {
  @clear: rgba(0, 0, 0, 0);
  @dark1: rgba(0, 0, 0, 0.1);
  @dark2: rgba(0, 0, 0, 0.5);
  @dark3: rgba(0, 0, 0, 1);
  background-image: linear-gradient(to right, @clear, @clear, @clear, @dark1, @dark2),
    linear-gradient(to left, @clear, @clear, @clear, @dark1, @dark2),
    linear-gradient(to bottom, @clear, @clear, @clear, @dark1, @dark3);
}

.has-bottom-triangle(@color: @off-white, @border-color: @off-white) {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    @side-length: 7px;
    left: 50%;
    width: @side-length * 2;
    height: @side-length * 2;
    margin-left: -@side-length;
    bottom: -@side-length;
    border-top: 1px solid @border-color;
    border-left: 1px solid @border-color;
    background-color: @color;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
}

.has-left-side-avatar() {
  > .avatar {
    float: left;
  }
  > .content {
    margin-left: @avatar-size-default + 15px;
  }
}

.mobile-full-bleed() {
  .mobile({
    margin-left: -15px;
    width: 100vw;
  })
}

.mobile(@rules) {
  @media (max-width: @screen-xs-max) {
    @rules();
  }
}

// set up a div whose height will always be $percent of its width
// e.g. http://jsfiddle.net/B8FU8/2441/
// via: http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
.fluid-height(@percent) {
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    display: block;
    margin-top: @percent;
  }

  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.round-input {
  -webkit-appearance: none;
  border: 1px solid @light-gray-border;
  border-radius: 25px;
  outline: none;
  margin: 0;
  display: inline-block;
  position: relative;
  .proxima-nova(100);
}

.round-checkbox() {
  .round-input;
  padding: 15px;

  &:checked {

    &:after {
      font-family: @icon-font-family;
      content: '\e62e';
      font-size: 14px;
      position: absolute;
      top: 8px;
      left: 7px;
      color: @off-black;
    }
  }
}

.clear-button {
  &, &:hover {
    color: @off-white;
  }
  background-color: transparent;
  border: 1px solid white;
  &:active {
    background-color: rgba(255, 255, 255, 0.4);
  }
  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.fluid-height(@percent) {
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    display: block;
    margin-top: @percent;
  }
  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.standard-form() {
  section {
    margin-bottom: 30px;
  }
  .counter {
    float: right;
    padding-top: 4px;
    .meta-text;
  }
  label {
    .post-title-text;
  }
  textarea {
    height: 20vh;
  }
  .help {
    .meta-text;
  }
  textarea + .help {
    margin-top: 5px;
  }

  .chooser input[type="text"].form-control {
    margin-bottom: 0;
  }

  .error {
    color: @error-color;
  }

}
