#top-level-modal-wrapper {
  z-index: 50;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: scroll;

  .modal {
    position: absolute;
    top: 0;
    max-width: @main-column-width;
    margin: 10vh auto;
  }
}

.modal-row() {
  padding: 10px 25px;
  background-color: @faint-gray-bg;
  border-top: 1px solid @post-border;

  label {
    .small-caps-list-header;
    color: #bbb;
    display: block;
  }
}

.modal-input-row() {
  .modal-row;
  border-bottom: 1px solid transparent;

  &, label {
    cursor: text;
  }

  input[type="text"], input[type='password'] {
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  &.active {
    border-top: 1px solid @damian-green !important;
    border-bottom: 1px solid @damian-green !important;
    background-color: white !important;
    input:focus {
      outline: none;
    }
  }
}

.modal {
  z-index: 3;
  background-color: white;
  margin-bottom: -1px;

  .alert {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
  }

  > .title {
    border-bottom: 1px solid @post-border;
    padding-bottom: 15px;
  }

  h2 {
    padding: 25px 25px 10px 25px;
    margin: 0;
  }

  .subtitle {
    padding: 0px 25px 5px 25px;
  }

  .close {
    float: right;
    text-decoration: none;
  }

  .footer {
    border-top: 1px solid @post-border;
    padding: 25px;
    button, a.button {
      .round-button;
      padding: 0 20px;

      &.ok {
        color: white;
        background-color: @damian-green;
        border-color: @damian-green;
      }
    }

    .right {
      line-height: @round-button-height + 1;
      vertical-align: baseline;
    }
  }

  .modal-input {
    .modal-input-row;
  }
}

.isMobile #top-level-modal-wrapper {
  .modal {
    margin: 0;
  }
}

#tag-description-editor {
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .topic, .description {
    .modal-row;
  }

  .tag-group {
    border-bottom: 1px solid @post-border;
    margin-bottom: 15px;

    .description {
      .modal-input-row;
    }

    &.creating .topic {
      .modal-input-row;
    }
  }

  .footer {
    margin-top: -15px;
    border-top: none;
  }
}

#share-topic {
  .join-url {
    .modal-row;

    a {
      color: @damian-green;
    }
  }

  button {
    margin-right: 5px;
  }
}

#expanded-post-modal {
  background-color: transparent;
  margin-bottom: 25vh !important;
}

.modal-only-page {
  background-color: @damian-green;
  min-height: 100vh;

  .modal {
    .non-mobile({
      margin: 0 auto;
      width: @main-column-width;
    });
  }

  .modal-topper {
    margin: 0 auto;
    padding: 0 25px 25px;
    color: white;
    width: @main-column-width;
    min-height: @avatar-size-medium + 25px;
    .has-bottom-triangle(#fff, #fff, 10px);
    &:after {
      left: 25px + @avatar-size-medium / 2;
    }

    .medium-avatar {
      float: left;
      margin-right: 15px;
    }

    h2 {
      margin-top: 0;
      padding-top: 8px;
      margin-bottom: 4px;
      .regular;
    }
  }
}

.create-community-one {
  .small-logo {
    .image-div(40px);
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.create-community-two {
  input[type="file"] {
    float: right;
  }
}

.create-community-three {
  
}
