
ul.posts {
  .no-bullets;

  .post {
    .mobile-full-bleed;
    .mobile({
      border-left: none;
      border-right: none;
      border-bottom: none;
      margin-bottom: 0;

      &.welcome {
        border-top: 1px solid @light-gray-border;
      }
    })
  }
}

@post-padding: 25px;
@post-content-left-margin: 75px;
@post-content-right-margin: @post-padding;

.shared-post-style() {
  .header {
    margin-bottom: 6px;
    margin-right: @post-content-right-margin;

    > .avatar {
      float: left;
      margin-left: 26px;
    }
    > div:last-child {
      margin-left: @post-content-left-margin;
      padding-top: 8px;
    }
    .name {
      color: @damian-green;
      .semibold;
    }
    .meta > a, .meta > div > a {
      .meta-text;
    }
  }

  .title {
    .post-title-text;
    margin-bottom: @p-bottom-margin;
    a {
      color: @mid-gray-bg;
    }
  }
}

.post {
  padding: @post-padding 0 0;
  margin-bottom: 15px;
  background-color: @card-background;
  .shared-post-style;

  .post-section {
    padding-left: @post-content-left-margin;
    padding-right: @post-content-right-margin;
    margin-bottom: @p-bottom-margin;
  }

  .vote {
    cursor: pointer;

    i {
      color: @dark-blue;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }

    &:hover {
      text-decoration: none;
      i {
        color: #f8f;
      }
    }

    .icon-heart-new-selected {
      color: #f8f;
    }
  }

  .details {
    .body-text;
    padding-right: @post-content-right-margin + 15px;
    .hashtag {
      color: @damian-green;
    }
    p:last-child {
      display: inline;
    }
  }

  &.welcome {
    padding: 0 15px;
    border: 1px solid transparent;
    > div > .avatar {
      float: left;
      margin-right: 10px;
    }
    .header {
      a.open-comments {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .tag {
      display: none;
    }
    .comments-section {
      .clearfix;
      margin-top: @p-bottom-margin;
    }

    .mobile({
      background: @faint-gray-bg;
      padding: 15px 15px @p-bottom-margin;
      margin-bottom: 0;
    })
  }

  .post-location {
    margin-bottom: 0;
    margin-top: @p-bottom-margin;
    i {
      position: relative;
      top: 2px;
    }
  }

  .post-menu {
    i {
      font-size: 20px;
      color: @gray-text;
    }

    float: right;
    .meta-text;
    cursor: pointer;
    > a:hover {
      text-decoration: none;
      color: @off-black;
    }
  }

  .share-post {
    display: inline;
  }

  .post-location {
    margin-top: 0;
    margin-bottom: @p-bottom-margin;
  }

  .full-image {
    width: 100%;
  }

  .post-section.voting {
    @vote-button-width: 18px;
    @vote-button-margin: 5px;
    margin-left: -@vote-button-margin - @vote-button-width;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 20px;
    .clearfix;

    .vote-button {
      color: @damian-green !important;
      text-decoration: none;
      float: left;
      i {
        width: @vote-button-width;
        margin-right: @vote-button-margin;
        top: 2px;
        position: relative;
      }
    }
    .voters {
      display: block;
      margin-left: @vote-button-width + @vote-button-margin + @avatar-size-default + 15px;

     .person {
        .semibold();
        color: @off-black;
      }
    }
  }

  .post-section.comments-section {
    padding-left: 0px;
    border-top: 1px solid @post-border;
    padding-bottom: 15px;

    &.empty {
      .comment-form {
        margin-top: 0px;
        border: none;
      }
    }
  }

  .attachment {
    display: inline-block;
    background-color: @light-gray-bg;
    border: 1px solid @light-gray-border;
    border-radius: @border-radius-base;
    padding: 5px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    vertical-align: middle;

    img {
      margin-right: 5px;
      position: relative;
      top: -1px;
    }

    &:hover {
      background-color: @mid-gray-bg;
    }
  }

  &.expanded {
    position: relative;
    @extra-margin: 15px;
    margin-left: -@extra-margin;
    margin-right: -@extra-margin;
    .post-section {
      padding-left: @post-content-left-margin + @extra-margin;
      padding-right: @post-content-right-margin + @extra-margin;

      &.comments-section {
        padding-left: 0px;
      }

      .comment, .comment-form {
        padding-left: @post-content-left-margin + @extra-margin;
      }

      .comment-form {
        margin-right: -@post-content-right-margin - @extra-margin;
      }
    }

    .header {
      > div:last-child {
        margin-left: @post-content-left-margin + @extra-margin;
        margin-right: @post-content-right-margin + @extra-margin;
      }
      > .avatar {
        margin-left: 26px + @extra-margin;
      }
    }
  }
}

.post.welcome {
  display: none;
}

.post-location {
  i {
    margin-right: 5px;
  }
}

.post-editor {
  @content-right-margin: 15px;
  padding: 22px 0 15px 0;
  background-color: #fff;
  margin-bottom: 15px;
  .mobile-full-bleed;
  .shared-post-style;
  position: relative;

  .prompt {
    .post-title-text;
    color: @placeholder-color;
    margin-left: @post-content-left-margin;
    cursor: pointer;
  }

  .title-wrapper {
    margin-left: @post-content-left-margin;
    margin-right: @content-right-margin;
  }

  .title {
    display: block;
    width: 100%;
    border: none;
    padding: 0;
    outline: none;
    min-height: 31px;
    overflow-x: hidden;
  }

  .details {
    padding-left: @post-content-left-margin;
    padding-right: @content-right-margin;
    margin-bottom: 0;
    min-height: 30px;

    &.empty {
      display: none;

      &:focus {
        display: block;
      }
    }
  }

  .details-placeholder {
    padding-left: @post-content-left-margin;
    color: @placeholder-color;
    margin-bottom: @p-bottom-margin;
    cursor: pointer;
  }

  .input-row {
    margin-top: 10px;
    p {
      margin-bottom: 5px;
    }
  }

  input.location {
    margin-bottom: -5px;
  }

  label {
    font-weight: normal;
    > span {
      vertical-align: middle;
    }
  }

  .hashtag-selector {
    margin-left: @post-content-left-margin;
    margin-bottom: @p-bottom-margin;
    .meta-text;
    .dropdown {
      display: inline-block;
    }
    button {
      height: 24px;
      border-radius: 24px;
      line-height: 22px;
      vertical-align: middle;
      text-align: center;
      padding: 0 10px;
      color: @gray-text;
    }
  }

  .communities {
    padding-top: 5px;
    padding-left: @post-content-left-margin;
    border-top: 2px dotted #e5e5e5;

    .meta-text;

    > span {
      position: absolute;
      padding-top: 3px;
    }

    .tag-input {
      border: 0;
      box-shadow: none;
      padding-top: 0;
      padding-left: 0;
      margin-left: 14px;
      width: auto;

      input[type="text"] {
        padding-left: 0;
        height: 23px;
      }
    }

    .tag {
      background-color: transparent;
      padding: 0;
      border: 0;
      margin-right: 10px;
      margin-bottom: 0;
      &:hover {
        border: 0;
      }
      .icon {
        display: none;
      }
      span {
        color: @damian-green;
      }
      .remove {
        position: relative;
        top: 1px;
      }
    }
  }

  .buttons {
    padding-left: @post-content-left-margin;
    padding-top: 15px;
    border-top: 1px solid @post-border;
    line-height: 40px;
    > *, span {
      vertical-align: middle;
    }

    div {
      display: inline-block;
    }

    label {
      margin-bottom: 0;
      display: inline;
    }

    .right {
      margin-right: 15px;
    }

    button {
      .round-button;
    }

    .save {
      color: #fff;
      background-color: @damian-green;
      border-color: @damian-green;
      margin-right: 10px;
    }
  }

  .glyphicon-camera {
    color: #bababa;
    font-size: 18px;
    position: relative;
    top: -2px;
  }

  .attachments {
    margin-right: 10px;
    .dropdown-menu {
      max-width: 300px;
    }
    .image {
      position: relative;
      img {
        width: 100%;
      }
      .remove {
        background-color: white;
        height: 21px;
        width: 21px;
        line-height: 22px;
        right: -1px;
        top: 4px;
        border-radius: 22px;
      }
    }
    .doc a {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .event-section {
    padding-left: @post-content-left-margin;
    .make-row;

    > div {
      .make-sm-column(6);
      line-height: 29px;
      margin-bottom: @p-bottom-margin;

      .icon {
        font-size: 18px;
        color: @light-gray-text;
        width: 33px;
        display: inline-block;
        height: 28px;
        line-height: 25px;
        vertical-align: middle;
        text-align: center;
        border-right: 1px solid @input-border;
        margin-right: 10px;
      }
    }

    .hashtag .icon {
      font-size: 21px;
    }
  }
}

.post.event-summary {
  .clearfix;
  padding: @post-padding;

  .image {
    .fluid-height(61.8%);
    width: 38.2%;
    background-color: #ccc;
    float: left;
    background-size: cover;
  }

  > .meta {
    padding-left: 15px;
    display: inline-block;
  }

  .title {
    display: block;
    margin-left: 38.2%;
    padding-left: 15px;
    line-height: 1.28em;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: @p-bottom-margin;
  }

  .hashtag {
    color: @damian-green;
  }

  .content {
    overflow: hidden;
  }

  .attendance {
    width: 61.8%;
    display: inline-block;
    padding-left: 15px;

    .going {
      width: 68%;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 2%;
    }

    .rsvp {
      vertical-align: top;
      display: inline-block;
      width: 30%;
      button {
        width: 100%;
      }
      .dropdown-toggle {
        height: @avatar-size-default;
        line-height: @avatar-size-default;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

@attendee-margin: 3px;

.attendance {
  line-height: @avatar-size-default + @attendee-margin;

  .avatar {
    vertical-align: top;
    display: inline-block;
    border-radius: 0;
    margin-right: 3px;
  }

  .blurb {
    line-height: normal;
  }
}

.rsvp {
  .yes {
    color: @damian-green;
  }
}

.event {
  .title {
    margin-bottom: 0;
  }
  .hashtag {
    color: @damian-green;
    margin-left: @post-content-left-margin;
  }
  .event-details {
    border: 1px solid @post-border;
    margin: 0 @post-padding @post-padding;
    @attendance-width: (@avatar-size-default + @attendee-margin) * 5 + 21;
    @row-height: 65px;

    .image {
      padding: 12px 12px 0;
      img {
        width: 100%;
      }
    }
    .time, .location, .rsvp-container {
      position: relative;
      height: @row-height;
      margin-right: @attendance-width;
      line-height: @row-height;
    }
    .time, .location {
      .ellipsis;
      padding-right: 10px;
    }
    .time {
      border-bottom: 1px solid @post-border;
    }
    .rsvp-container {
      border-bottom: 0;
      padding-left: 18px;
      button {
        .round-button;
        border-color: @damian-green;
      }
    }
    .glyphicon {
      line-height: @row-height;
      vertical-align: middle;
      width: 49px;
      top: -2px;
      padding-left: 18px;
      color: @light-gray-text;
    }
    .attendance {
      border-left: 1px solid @post-border;
      padding: 10px;
      float: right;
      height: @row-height * 2;
      width: @attendance-width;
      background: white;
      .blurb {
        margin-top: 5px;
      }
    }
    .detail-text {
      .clearfix;
      border-top: 1px solid @post-border;
      padding: @post-padding;
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
