.proxima-nova(@weight) {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: @weight;
}

.proxima-nova-light() {
  .proxima-nova(300);
}

.proxima-nova-regular() {
  .proxima-nova(400);
}

.proxima-nova-semibold() {
  .proxima-nova(600);
}

.proxima-nova-bold() {
  .proxima-nova(700);
}

.post-type-text() {
  .proxima-nova-regular;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2.4px;
}

h3 {
  .proxima-nova-regular;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.4px;
}

h4 {
  .proxima-nova-semibold;
  font-size: 16px;
}
