.aktiv-grotesk(@weight) {
  font-family: "aktiv-grotesk", sans-serif;
  font-style: normal;
  font-weight: @weight;
}

.proxima-nova(@weight) {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: @weight;
}

.hairline() {
  .aktiv-grotesk(200);
}

.light() {
  .aktiv-grotesk(300);
}

.regular() {
  .aktiv-grotesk(400);
}

.medium() {
  .aktiv-grotesk(500);
}

.bold() {
  .aktiv-grotesk(700);
}

.post-title-text() {
  .light;
  font-size: 24px;
  .mobile({
    font-size: 16px;
  });
}

.tag-header-name-text() {
  .light;
  font-size: 20px;
  .mobile({
    font-size: 16px;
  });
}

.thread-title-text() {
  .light;
  font-size: 20px;
  .mobile({
    font-size: 16px;
  });
}

.base-text() {
  .regular;
  font-size: 14px;
}

.meta-text() {
  color: @gray-text;
  font-size: 13px;
  .light;
}

h2 {
  .medium;
  font-size: 26px;
  .mobile({
    font-size: 22px;
  });
}

h3 {
  .medium;
  font-size: 18px;
}

h4 {
  .medium;
  font-size: 16px;
}

.small-caps-list-header() {
  font-size: 11px;
  .medium;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
