{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    // this plugin will be included only in development mode, e.g.
    // if NODE_ENV (or BABEL_ENV) environment variable is not set
    // or is equal to "development"
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "livereactload/babel-transform",
            "imports": ["react"]
          }]
        }]
      ]
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
